.shadow {
    height: 30%;
    width: 80%;
}

.content {
    width: 200px;
    height: 400px;
}

.infos { 
    border-radius: 10px;
  	width: 225px;
    height: 460px;
    margin-left: -10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color:#0ff;
    line-height: 40px;
    font-weight:bold;
    font-size: 26px;
    text-shadow:  
    0 0 10px #0ff;
}

