.shadow {
    height: 30%;
    width: 80%;
}

.content {
    width: 129px;
    height: 259px;
}

.infos {
    border: 1px solid lightgrey;
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}