/* TILES */
.shadow {
    height: 20px;
    width: 20px;
}

.regular {
    height: 40px;
    width: 40px;   
}

.isEmpty {
    background-color: rgba(255,255,255,0.1);
    animation: TetrisEffect 0.3s;
}

.isFull {
    opacity: 1;
    background-color: #f0f;
    box-shadow: 0 0 10px #f0f;
}

.isPlaced {
    opacity: 1;
    animation: TetrisColorisPlaced 5s ease-in-out infinite alternate, TetrisTurn 1s linear;
}

.isBlocked {
    background:#0ff;
    box-shadow: 0 0 10px #0ff;
}

/* GRID CONTAINER */

.container {
    outline: 0;
    border: 10px solid #0ff;
    display: grid;
    grid-template-columns: repeat(10, min-content);
    grid-gap: 0px;
	background-color: rgba(0,0,0,0.6);
    animation: ContainerNeonAnimate 1s ease-in-out infinite alternate, Appearance 2s;
}


.shadowContainer {
    display: grid;
    grid-template-columns: repeat(10, min-content);
    grid-gap: 1px;  
    width: 225px;
    height: 460px;
    animation: ShadowContainerAnimate 5s;
}

.placed {
    animation: Bounce .1s ease-out alternate, ContainerNeonAnimate 1s ease-in-out infinite alternate, Appearance 2s;
}



/********************                   ANIMATION               ************************/

/*
@keyframes tetrisboxshadow {
    from {opacity: 1;box-shadow: 0px 50px 200px #000;}
    to {opacity:1;box-shadow: 0px 50px 200px#000;}
    }
*/

/*** use in .isEmpty ***/

@keyframes TetrisEffect {
    from {
        background-color: rgba(0,255,255,0.6);
    }
    to {
        background-color: rgba(0,255,255,0.2);
    }
  }

/*** use in .isPlaced ***/

 @keyframes TetrisColorisPlaced {
    from {
        background-color:#f0f;
        box-shadow: 0 0 10px #f0f;
    }
    to {
        background-color: #0ff; 
        box-shadow: 0 0 10px #0ff;
    }
}

@keyframes TetrisTurn {
	0% {
		transform: perspective(400px) rotateY(0);
        animation-timing-function: linear;
        background: #f0f;
	}
	100% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg);
        animation-timing-function: linear;
        background: #f0f;
	}
	50% {
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: linear;
        background: #f0f;
	}
	80% {
		transform: perspective(400px) rotateY(360deg);
        animation-timing-function: linear;
        background: #f0f;
	}
	100% {
		transform: perspective(400px) scale(1);
        animation-timing-function: linear;
        background: #f0f;
	}
}

/*** use in .container & .placed ***/
  
@keyframes Appearance{
0% {
        transform: scaleY(0);
        opacity: 0;
    }
  
100% {
        transform: scaleY(1);
        opacity: 1;
    }  
}

/*** use in .container & .placed ***/

@keyframes ContainerNeonAnimate {
    from { 
    box-shadow:  
    inset 0 0 5px #0FF,
    inset 0 0 10px #0FFF,
    inset 0 0 20px #0FFF,
    inset 0 0 40px #FF00DE,
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #FF00DE,
    0 0 30px #FF00DE,
    0 0 30px #FF00DE,
    0 0 30px #FF00DE,
    0 0 30px #FF00DE;
    }
to {
    box-shadow:  
    inset 0 0 10px #0FF,
    inset 0 0 20px #0FFF,
    inset 0 0 40px #0FFF,
    inset 0 0 80px #FF00DE,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 60px #FF00DE,
    0 0 60px #FF00DE,
    0 0 60px #FF00DE,
    0 0 60px #FF00DE,
    0 0 60px #FF00DE;
    }
}

/*** use in .shadowContainer ***/

@keyframes ShadowContainerAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}

/*** use in .placed ***/

@keyframes Bounce {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(10px);
    }
}