.innerContainer {
    border-radius: 20px;
    border: 10px solid #0ff;
    width:400px;
    height:400px;
    position:absolute;
    top:calc(50vh - 200px);
    left:calc(50vw - 200px);
    overflow:hidden;
    background:rgba(0,0,0,0.8);
    text-align: center;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    color:#0ff;
    font-size: 26px;
    animation: neoneffect 0.8s ease-in-out infinite alternate, Appearance 0.5s;
}

.innerContainer span {
    color:#f0f;
}

@keyframes neoneffect {
    from {			
    box-shadow:  
        inset 0 0 1px #0FF,
        inset 0 0 5px #0FFF,
        inset 0 0 10px #0FFF,
        inset 0 0 20px #FF00DE,
        inset 0 0 20px #FF00DE,
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 10px #0ff,
        0 0 10px #FF00DE,
        0 0 10px #FF00DE,
        0 0 10px #FF00DE,
        0 0 10px #FF00DE,
        0 0 10px #FF00DE;
    }
    to {			
        box-shadow:  
        inset 0 0 5px #0FF,
        inset 0 0 10px #0FFF,
        inset 0 0 20px #0FFF,
        inset 0 0 40px #FF00DE,
        inset 0 0 40px #FF00DE,
        0 0 5px #0ff,
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 30px #FF00DE,
        0 0 30px #FF00DE,
        0 0 30px #FF00DE,
        0 0 30px #FF00DE,
        0 0 30px #FF00DE;
    }
}

@keyframes Appearance {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
  
100% {
        transform: scaleY(1);
        opacity: 1;
    }  
}