.innerContainer{
    border-radius: 20px;
  border: 10px solid #0ff;
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
  background:rgba(0,0,0,0.8);
  text-align: center;
  justify-content: center;
  display: flex; 
  flex-direction: column;
  color:#0ff;
  font-size: 26px;
  box-shadow:  
   inset 0 0 5px #0FF,
      inset 0 0 10px #0FFF,
inset 0 0 20px #0FFF,
	inset 0 0 40px #FF00DE,
0 0 5px #0ff,
0 0 10px #0ff,
0 0 20px #0ff,
0 0 30px #FF00DE,
0 0 30px #FF00DE,
0 0 30px #FF00DE,
0 0 30px #FF00DE,
0 0 30px #FF00DE;
}

.innerContainer span{
    color:#f0f;
}